# Dask.

Імпортуйте необхідні бібліотеки.

In [1]:
import numpy as np
import pandas as pd

import dask
import dask.dataframe as dd
import pyarrow

Завантажте combined_ratings_movies_data.csv у Dask DataFrame,

In [5]:
# ваш код тут
import numpy as np
import pandas as pd

import dask
import dask.dataframe as dd
import pyarrow
df = pd.read_csv('ml-latest-small/combined_ratings_movies_data.csv')
dask_df = dd.from_pandas(df, npartitions=2)
dask_df

Dask DataFrame Structure:
              userId movieId   rating timestamp   title  genres
npartitions=2
0              int64   int64  float64     int64  string  string
50418            ...     ...      ...       ...     ...     ...
100835           ...     ...      ...       ...     ...     ...
Dask Name: frompandas, 1 expression
Expr=df

Dask DataFrame Structure:
              userId movieId   rating timestamp   title  genres
npartitions=1
               int64   int64  float64     int64  object  object
                 ...     ...      ...       ...     ...     ...
Dask Name: read-csv, 1 tasks

Виведіть перші 5 записів з DataFrame.

In [3]:
# ваш код тут
dask_df.head(5)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

/Users/zborivskyi/Documents/3course/DataInstruments/venv/lib/python3.10/site-packages/dask/dataframe/core.py:375: UserWarning: Insufficient elements for `head`. 5 elements requested, only 0 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

Виведіть записи, де жанр - Adventure|Fantasy|Musical|Romance.

In [ ]:
# ваш код тут
dask_df[dask_df.genres == 'Adventure|Fantasy|Musical|Romance'].compute()

,userId,movieId,rating,timestamp,title,genres
100029,596,68835,3.5,1535832661,Were the World Mine (2008),Adventure|Fantasy|Musical|Romance

,userId,movieId,rating,timestamp,title,genres
100029,596,68835,3.5,1535832661,Were the World Mine (2008),Adventure|Fantasy|Musical|Romance

Відсортуйте дані по `userId` у спадаючому порядку.

In [14]:
# ваш код тут
dask_df.sort_values(by='userId', ascending=False).compute()

,userId,movieId,rating,timestamp,title,genres
100835,610,163981,3.5,1493850155,31 (2016),Horror
68278,610,102716,4.5,1493846399,"Fast & Furious 6 (Fast and the Furious 6, The)...",Action|Crime|Thriller|IMAX
80073,610,110501,5.0,1479542522,The Raid 2: Berandal (2014),Action|Crime|Thriller
40554,610,6001,4.5,1479542185,"King of Comedy, The (1983)",Comedy|Drama
40539,610,5956,3.5,1479542164,Gangs of New York (2002),Crime|Drama
...,...,...,...,...,...,...
3188,1,480,4.0,964982346,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
11293,1,2115,5.0,964982529,Indiana Jones and the Temple of Doom (1984),Action|Adventure|Fantasy
15411,1,3439,4.0,964981799,Teenage Mutant Ninja Turtles II: The Secret of...,Action|Children|Fantasy
15380,1,3386,5.0,964983484,JFK (1991),Drama|Mystery|Thriller
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

,userId,movieId,rating,timestamp,title,genres
100835,610,163981,3.5,1493850155,31 (2016),Horror
68278,610,102716,4.5,1493846399,"Fast & Furious 6 (Fast and the Furious 6, The)...",Action|Crime|Thriller|IMAX
80073,610,110501,5.0,1479542522,The Raid 2: Berandal (2014),Action|Crime|Thriller
40554,610,6001,4.5,1479542185,"King of Comedy, The (1983)",Comedy|Drama
40539,610,5956,3.5,1479542164,Gangs of New York (2002),Crime|Drama
...,...,...,...,...,...,...
3188,1,480,4.0,964982346,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
11293,1,2115,5.0,964982529,Indiana Jones and the Temple of Doom (1984),Action|Adventure|Fantasy
15411,1,3439,4.0,964981799,Teenage Mutant Ninja Turtles II: The Secret of...,Action|Children|Fantasy
15380,1,3386,5.0,964983484,JFK (1991),Drama|Mystery|Thriller
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

Погрупуйте дані по жанрах та обрахуйте середнє значення рейтингу для кожного з жанрів.

In [27]:
# ваш код тут
dask_df.groupby('genres').rating.mean().compute()

genres
Action                                             2.935484
Action|Adventure                                   3.706306
Action|Adventure|Animation|Children                3.410256
Action|Adventure|Animation|Children|Comedy         3.808989
Action|Adventure|Animation|Children|Comedy|IMAX    3.483333
                                                     ...
Romance|Thriller                                   2.954545
Romance|War                                        2.750000
Romance|Western                                    3.083333
Sci-Fi|Thriller|IMAX                               3.708333
War                                                3.555556
Name: rating, Length: 951, dtype: float64

genres
(no genres listed)                     3.489362
Action                                 2.935484
Action|Adventure                       3.706306
Action|Adventure|Animation             3.583333
Action|Adventure|Animation|Children    3.410256
                                         ...
Sci-Fi|Thriller                        3.280172
Sci-Fi|Thriller|IMAX                   3.708333
Thriller                               3.426752
War                                    3.555556
Western                                3.658940
Name: rating, Length: 951, dtype: float64

З погрупованих даних знайдіть кількість представників кожного з жанрів.

In [29]:
# ваш код тут
dask_df.groupby('genres').size().compute()

genres
Action                                             186
Action|Adventure                                   555
Action|Adventure|Animation|Children                 39
Action|Adventure|Animation|Children|Comedy         178
Action|Adventure|Animation|Children|Comedy|IMAX     30
                                                  ...
Romance|Thriller                                    22
Romance|War                                          2
Romance|Western                                      6
Sci-Fi|Thriller|IMAX                                12
War                                                  9
Length: 951, dtype: int64

genres
(no genres listed)                      47
Action                                 186
Action|Adventure                       555
Action|Adventure|Animation              42
Action|Adventure|Animation|Children     39
                                      ...
Sci-Fi|Thriller                        116
Sci-Fi|Thriller|IMAX                    12
Thriller                               628
War                                      9
Western                                151
Name: rating, Length: 951, dtype: int64

Завантажте дані з файлів `links.csv`, `tags.csv` та `movies.csv`. Об'єднайте ці дані у один датафрейм по полю movieId. Врахуйте, що у даних можливі пропуски.

In [46]:
# ваш код тут
#Завантажте дані з файлів `links.csv`, `tags.csv` та `movies.csv`. Об'єднайте ці дані у один датафрейм по полю movieId. Врахуйте, що у даних можливі пропуски.

links = pd.read_csv('ml-latest-small/links.csv')
tags = pd.read_csv('ml-latest-small/tags.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
df = pd.merge(movies, tags, on='movieId', how='left')
df = pd.merge(df, links, on='movieId', how='left')
df

dask_df = dd.from_pandas(df, npartitions=2)
dask_df.head(5)

,movieId,title,genres,userId,tag,timestamp,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,1.139046e+09,114709,862.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474.0,pixar,1.137207e+09,114709,862.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567.0,fun,1.525286e+09,114709,862.0
3,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,fantasy,1.528844e+09,113497,8844.0
4,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,magic board game,1.528844e+09,113497,8844.0

,movieId,title,genres,imdbId,tmdbId,userId,tag,timestamp
0,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709.0,862.0,336.0,pixar,1.139046e+09
1,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709.0,862.0,474.0,pixar,1.137207e+09
2,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709.0,862.0,567.0,fun,1.525286e+09
3,2.0,Jumanji (1995),Adventure|Children|Fantasy,113497.0,8844.0,62.0,fantasy,1.528844e+09
4,2.0,Jumanji (1995),Adventure|Children|Fantasy,113497.0,8844.0,62.0,magic board game,1.528844e+09
...,...,...,...,...,...,...,...,...
3678,187595.0,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,3778644.0,348350.0,62.0,star wars,1.528935e+09
3679,193565.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780.0,71172.0,184.0,anime,1.537099e+09
3680,193565.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780.0,71172.0,184.0,comedy,1.537099e+09
3681,193565.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780.0,71172.0,184.0,gintama,1.537099e+09
3682,193565.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780.0,71172.0,184.0,remaster,1.537099e+09

Перевірте, чи у даних є пропущенні значення та видаліть їх, якщо є.

In [47]:
# ваш код тут
dask_df.isnull().compute().sum()
dask_df = dask_df.fillna(0)

## Робота з часовими рядами.
### Створення та маніпуляції з колонками типу `datetime`.
Створення:

Створіть Dask DataFrame, який має однією колонкою дати, які починаються з 1 січня 2020 року, різниця між датами у записах 1 день, а другою колонкою має ціле випадкове число від 0 до 100. Всього у DataFrame має бути 100 записів.

In [57]:
# ваш код тут
dates = pd.date_range('2020-01-01', periods=100)
df = dd.from_pandas(pd.DataFrame({'date': dates, 'value': np.random.randint(0, 101, size=100)}), npartitions=4)
df.compute()

         date  value
0  2020-01-01     66
1  2020-01-02     18
2  2020-01-03      6
3  2020-01-04     94
4  2020-01-05     56
..        ...    ...
95 2020-04-05     28
96 2020-04-06     90
97 2020-04-07     18
98 2020-04-08     55
99 2020-04-09     11

[100 rows x 2 columns]

         date  value
0  2020-01-01     36
1  2020-01-02     85
2  2020-01-03     48
3  2020-01-04     85
4  2020-01-05     16
..        ...    ...
95 2020-04-05     99
96 2020-04-06     18
97 2020-04-07     10
98 2020-04-08     97
99 2020-04-09     50

[100 rows x 2 columns]

Створіть нову колонку у DataFrame, яка буде мати у собі нові дати, зміщенні з поточних на 4 тижні та 3 дні вперед.

In [61]:
# ваш код тут
df['date_shifted'] = df['date'] + pd.Timedelta(days=31)
df.compute()

         date  value date_shifted
0  2020-01-01     66   2020-02-01
1  2020-01-02     18   2020-02-02
2  2020-01-03      6   2020-02-03
3  2020-01-04     94   2020-02-04
4  2020-01-05     56   2020-02-05
..        ...    ...          ...
95 2020-04-05     28   2020-05-06
96 2020-04-06     90   2020-05-07
97 2020-04-07     18   2020-05-08
98 2020-04-08     55   2020-05-09
99 2020-04-09     11   2020-05-10

[100 rows x 3 columns]

         date  value date_shifted
0  2020-01-01     36   2020-02-01
1  2020-01-02     85   2020-02-02
2  2020-01-03     48   2020-02-03
3  2020-01-04     85   2020-02-04
4  2020-01-05     16   2020-02-05
..        ...    ...          ...
95 2020-04-05     99   2020-05-06
96 2020-04-06     18   2020-05-07
97 2020-04-07     10   2020-05-08
98 2020-04-08     97   2020-05-09
99 2020-04-09     50   2020-05-10

[100 rows x 3 columns]

Обрахуйте суму всіх випадкових чисел по тижнях.

In [68]:
# ваш код тут
df = df.set_index('date')

df['value'].resample('W').sum().compute()

date
2020-01-05    240
2020-01-12    250
2020-01-19    370
2020-01-26    229
2020-02-02    367
2020-02-09    253
2020-02-16    308
2020-02-23    463
2020-03-01    227
2020-03-08    356
2020-03-15    334
2020-03-22    251
2020-03-29    397
2020-04-05    444
2020-04-12    174
Freq: W-SUN, Name: value, dtype: int64

            value
date
2020-01-05    270
2020-01-12    373
2020-01-19    424
2020-01-26    463
2020-02-02    384
2020-02-09    341
2020-02-16    354
2020-02-23    373
2020-03-01    288
2020-03-08    387
2020-03-15    275
2020-03-22    142
2020-03-29    417
2020-04-05    441
2020-04-12    175

# multiprocessing та joblib

Виберіть одне з завдань з списку нижче та виконайте його використовуючи спочатку multiprocessing, а потім joblib.

Початковий масив даних створіть з допомогою NumPy, його розмір має бути не менше 100000 елементів. Якщо для виконання завдання потрібен додатковий параметр, його треба придумати самостійно. 

1. Сортування великого масиву: Розбити масив на частини та відсортувати кожну частину в окремому процесі. Потім злити відсортовані частини.
2. Сортування за парністю: Розділити масив на два списки: парні та непарні числа. Відсортувати кожен список окремо і з'єднати їх.
3. Паралельне обчислення статистик: Обчислити середнє, медіану, моду, дисперсію для різних частин великого масиву паралельно.
4. Паралельне застосування функцій: Застосувати задану математичну функцію (наприклад, синус, косинус) до кожного елемента масиву паралельно.
5. Паралельна фільтрація даних: Відфільтрувати елементи масиву за певним критерієм (наприклад, вибрати всі елементи, більші за задане число) паралельно.
6. Паралельна генерація випадкових чисел: Згенерувати велику кількість випадкових чисел різних розподілів (нормальний, рівномірний) паралельно.
7. Паралельне обчислення матричних операцій: Розбити велику матрицю на підматриці та виконати матричне множення або додавання підматриць в окремих процесах. Потім зібрати результат у єдину матрицю.
8. Паралельне підвищення ступеню матриці: Розбити матрицю на блоки та підвищити кожен блок до степеня паралельно. Потім об’єднати результат.
9. Пошук мінімуму та максимуму: Паралельно знайти мінімум та максимум для різних частин великого масиву.
10. Паралельне знаходження суми: Розділити масив на частини і паралельно обчислити суму елементів кожної частини. Потім підсумувати результати.
11. Паралельне піднесення до квадрату: Паралельно піднести кожен елемент великого масиву до квадрату, розділивши масив на частини.
12. Паралельна перевірка простоти чисел: Паралельно перевіряти, які числа у масиві є простими, і вивести їх у новий масив.
13. Паралельна зміна масштабу масиву: Паралельно масштабувати значення елементів масиву за допомогою множення на фіксований коефіцієнт.
14. Паралельне знаходження індексів: Розділити масив на частини і паралельно знайти індекси елементів, які відповідають певному критерію (наприклад, більше заданого числа).
15. Паралельне знаходження кількості позитивних чисел: Розбити масив на частини і паралельно підрахувати кількість позитивних елементів у кожній частині. Після цього об'єднати результати.

Process SpawnPoolWorker-244:
Process SpawnPoolWorker-245:
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 367, in get
    return _ForkingPickler.loads(res)
AttributeError: Can't get attribute 'generate_random_numbers' on <module '__main__' (built-in)>
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 367, in get
    return _ForkingPickler.loads(res)
AttributeError: Can't get attribute 'generate_random_numbers' on <module '__main__' (built-in)>
Process SpawnPoolWorker-246:
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 367, in get
    return _ForkingPickler.loads(res)
AttributeError: Can't get attribute 'generate_random_numbers' on <module '__main__' (built-in)>
Process SpawnPoolWorker-247:
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 367, in get
    return _ForkingPickler.loads(res)
AttributeError: Can't get attribute 'generate_random_numbers' on <module '__main__' (built-in)>
Process SpawnPoolWorker-248:
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 367, in get
    return _ForkingPickler.loads(res)
AttributeError: Can't get attribute 'generate_random_numbers' on <module '__main__' (built-in)>
Process SpawnPoolWorker-249:
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 367, in get
    return _ForkingPickler.loads(res)
AttributeError: Can't get attribute 'generate_random_numbers' on <module '__main__' (built-in)>
Process SpawnPoolWorker-250:
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 367, in get
    return _ForkingPickler.loads(res)
AttributeError: Can't get attribute 'generate_random_numbers' on <module '__main__' (built-in)>
Process SpawnPoolWorker-251:
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 367, in get
    return _ForkingPickler.loads(res)
AttributeError: Can't get attribute 'generate_random_numbers' on <module '__main__' (built-in)>
Process SpawnPoolWorker-252:
Process SpawnPoolWorker-255:
Process SpawnPoolWorker-257:
Process SpawnPoolWorker-253:
Process SpawnPoolWorker-256:
Process SpawnPoolWorker-254:
Process SpawnPoolWorker-259:
Process SpawnPoolWorker-258:
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 364, in get
    with self._rlock:
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 364, in get
    with self._rlock:
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
Traceback (most recent call last):
KeyboardInterrupt
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 364, in get
    with self._rlock:
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 364, in get
    with self._rlock:
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
KeyboardInterrupt
KeyboardInterrupt
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 364, in get
    with self._rlock:
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 364, in get
    with self._rlock:
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
Traceback (most recent call last):
KeyboardInterrupt
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 365, in get
    res = self._reader.recv_bytes()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/connection.py", line 216, in recv_bytes
    buf = self._recv_bytes(maxlength)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/connection.py", line 414, in _recv_bytes
    buf = self._recv(4)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/connection.py", line 379, in _recv
    chunk = read(handle, remaining)
KeyboardInterrupt
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 364, in get
    with self._rlock:
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
KeyboardInterrupt
Process SpawnPoolWorker-220:
Process SpawnPoolWorker-215:
Process SpawnPoolWorker-216:
Process SpawnPoolWorker-221:
Process SpawnPoolWorker-219:
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 364, in get
    with self._rlock:
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 364, in get
    with self._rlock:
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 364, in get
    with self._rlock:
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
Process SpawnPoolWorker-217:
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 364, in get
    with self._rlock:
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/local/Cellar/python@3.10/3.10.16/Frameworks/Python.framework/Versions/3.10/lib/python3.10/multiprocessing/queues.py", line 364, in get
    with self._rlock:

KeyboardInterrupt: